<div class="modal fade bs-education-modal-center" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить новое место учёбы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_education_form" class="custom-validation" action="/resume/<%= resume._id %>/add_education" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label"><sup class="text-danger">*</sup> Название учебного заведения</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="МВУТ и тд." required/>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label"><sup class="text-danger">*</sup> Местонахождение учебного заведения</label>
                        <input type="text" id="location" name="location" class="form-control" placeholder="Ташкент, Узбекистан и тд." required/>
                    </div>

                    <div class="mb-3">
                        <label for="course" class="form-label"><sup class="text-danger">*</sup> Факультет/направление</label>
                        <input type="text" id="course" name="course" class="form-control" placeholder="Бизнес менеджмент и тд." required/>
                    </div>

                    <div class="mb-3">
                        <label for="award" class="form-label">Оценка/ожидаемая оценка</label>
                        <input type="text" id="award" name="award" class="form-control" placeholder="90+ и тд." required/>
                    </div>

                    <div class="mb-3">
                        <label for="from_date" class="form-label"><sup class="text-danger">*</sup> Начало учёбы</label>
                        <input type="month" id="from_date" name="from_date" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="to_date" class="form-label">Конец учёбы</label>
                        <input type="month" id="to_date" name="to_date" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Отмена</button>
                <button form="add_education_form" type="submit" class="btn btn-success waves-effect waves-light">Добавить</button>
            </div>
        </div>
    </div>
</div>
