<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                Copyright © 2021 eResume
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Разработка <a href="https://abdu.one" target="_blank">Ахмедов Абдувохид</a>
                </div>
            </div>
        </div>
    </div>
</footer>
