<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-home-variant-outline me-2"></i>Главная
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <% if (user.resumes.length > 0) { %>
                            <a class="nav-link" href="<%= '/resume/' + user.resumes[0]._id %>">
                                <i class="mdi mdi-briefcase-variant-outline me-2"></i>Мое резюме
                            </a>
                        <% } else { %>
                                <a class="nav-link" href="/resume/new">
                                    <i class="mdi mdi-briefcase-variant-outline me-2"></i>Создать резюме
                                </a>
                        <% } %>
                    </li>

                    <li class="nav-item dropdown hidden">
                        <a class="nav-link" href="/insight">
                            <i class="ri-rhythm-fill me-2"></i>Статистика
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
