<button class="btn btn-soft-light border-light waves-effect waves-light text-nowrap my-1" onclick="facebookSignIn('<%= domain %>')">
    <img width="16px" height="16px" src="/assets/images/facebook.svg" alt="Facebook"/>
    <span class="align-middle text-dark">Войти через Facebook</span>
</button>
