<button class="btn btn-soft-light border-light waves-effect waves-light text-nowrap my-1" onclick="oauthSignIn('<%= domain %>')">
    <img width="16px" height="16px" style="margin-bottom: 1px;" src="/assets/images/google.svg" alt="Google"/>
    <span class="align-middle text-dark">Войти через Google</span>
</button>
