<div class="card border border-success no-cursor">
    <div class="card-body">
        <h4 class="card-title"><strong>Нужна помощь?</strong></h4>
        <p class="card-title-desc mb-0">Если у вас есть вопросы по поводу чего либо связанное с сервисом, обращайтесь по <a href="https://t.me/HeyIAmAbdu" target="_blank" class="link-success">@HeyIAmAbdu</a> в Телеграм.</p>
    </div>
</div>
