<div class="card">
    <div class="card-body">
        <h4 class="card-title">Нужна помощь?</h4>
        <p class="card-title-desc mb-0">Если у вас есть вопросы по поводу чего либо связанное с сервисом, обращайтесь по <a href="https://t.me/HeyIAmAbdu" target="_blank" class="link-info">@HeyIAmAbdu</a> в Телеграм.</p>
    </div>
</div>
