.hidden {
    filter: blur(4px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 768px) {
    .block-border {
        border-style: dashed;
        border-width: 0 1px 0 0;
        border-color: #D3D3D3FF;
    }
}

.table-bottom-border {
    border-bottom: 1px solid #eff2f7 !important;
}

.text-right {
    text-align: end;
}

.no-cursor {
    cursor: default;
}

.no-select {
    user-select: none;
}

.topnav {
    margin-top: 0;
}
