::selection {
    background-color: #20b097;
    color: #f0f0f0;
}

@media print {
    .no-print {
        visibility: hidden;
    }
}

.hidden {
    filter: blur(4px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 768px) {
    .block-border {
        border-style: dashed;
        border-width: 0 1px 0 0;
        border-color: #D3D3D3FF;
    }
}

.table-bottom-border {
    border-bottom: 1px solid #eff2f7 !important;
}

.text-right {
    text-align: end;
}

.no-cursor {
    cursor: default;
}

.pointer-cursor {
    cursor: pointer;
}

.no-select {
    user-select: none;
}

.topnav {
    margin-top: 0;
}

.resume-draft {
    border-left: 4px rgba(252,185,44,0.8) solid;
}

.resume-public {
    border-left: 4px rgba(10,192,116,0.8) solid;
}

.resume-private {
    border-left: 4px rgba(52,58,64,0.8) solid;
}

.job_header[aria-expanded="true"], .border-bottom-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.job_content, .border-top-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
