<div class="account-pages my-5 pt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12">
                <% if (typeof error !== 'undefined') { %>
                    <% for (var e = 0; e < error.length; e++) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error[e] %>
                        </div>
                    <% } %>
                <% } %>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="">
                            <div class="text-center">
                                <a href="/" class="">
                                    <img src="assets/images/logo-dark.svg" alt="" height="24"
                                         class="auth-logo logo-dark mx-auto">
                                    <img src="assets/images/logo-light.svg" alt="" height="24"
                                         class="auth-logo logo-light mx-auto">
                                </a>
                            </div>
                            <h4 class="font-size-18 text-muted mt-2 text-center">Добро пожаловать!</h4>
                            <p class="mb-2 text-center">Регистрируйтесь, чтобы пользоваться eResume.</p>
                            <form class="form-horizontal needs-validation" novalidate action="/register" method="post">

                                <div class="row">
                                    <div class="col-md-6 block-border">
                                        <div class="mb-3">
                                            <label class="form-label" for="email">Э-почта:</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                   value="<% if (typeof email !== 'undefined') { %><%= email %><% } %>"
                                                   placeholder="Введите э-почту" required>
                                            <div class="invalid-feedback">
                                                Неправильная э-почта.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="password">Пароль:</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   placeholder="Придумайте пароль" minlength="6" required>
                                            <div class="invalid-feedback">
                                                Неправильный пароль. Минимум 6 символов.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="confirm_password">Подтвердите пароль:</label>
                                            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                                                   placeholder="Повторно введите пароль" minlength="6" required>
                                            <div class="invalid-feedback">
                                                Подтвердите пароль. Минимум 6 символов.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="name">Полное имя:</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                   value="<% if (typeof name !== 'undefined') { %><%= name %><% } %>"
                                                   placeholder="Полное имя" minlength="5" required>
                                            <div class="invalid-feedback">
                                                Неправильное имя. Минимум 5 букв.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label mb-0" for="captcha">Подтвердите, что вы не робот:</label>
                                            <%- captcha %>
                                            <input type="text" class="form-control mt-2" name="captcha" id="captcha"
                                                   placeholder="Введите символы с картинки" required minlength="5" maxlength="5">
                                            <div class="invalid-feedback">
                                                Подтвердите, что вы не робот. 5 символов.
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="term-conditionCheck" required>
                                            <label class="form-check-label fw-normal" for="term-conditionCheck">Я принимаю <a href="#" class="text-primary">Условия использования сервиса</a></label>
                                            <div class="invalid-feedback">
                                                Примите условия, чтобы использовать наш сервис.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mt-2 text-center justify-content-center">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Регистрация
                                    </button>
                                </div>
                            </form>
                            <hr/>
                            <div class="d-grid mt-2">
                                <button class="btn btn-light waves-effect waves-light" onclick="oauthSignIn()">Sign up via Google</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 text-center">
                    <p class="text-black-50">Есть аккаунт? <a href="/login" class="fw-medium text-primary"> Войдите </a>
                    </p>
                    <p class="text-black-50">Copyright © 2021 eResume</p>
                </div>
            </div>
        </div>
    </div>
</div>
