<div class="account-pages my-5 pt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="alert alert-<%= type %> mb-0" role="alert">
                            <%= message %>
                        </div>
                        <div class="mt-2 text-center mb-0">
                            <p class="text-black-50 mb-n3">Copyright © 2021 eResume</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
